colours {
    color: #49A078, #216869, #1F2421, #BB9F06,  #EEF4ED;
} 

@import url('https://fonts.googleapis.com/css2?family=Silkscreen:wght@400;700&display=swap');




* {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
    font-family: 'Silkscreen', cursive;
}

body {
    background-image: linear-gradient(to top right, #216869 30%, #49A078 80%);
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

main {
    height: 100vh;
    width: 100vh;
    display: flex;
    flex-direction: column;
    /* justify-content: space-evenly; */
    align-items: center;
}

/* Start screen: */

.start-screen {
    min-width: 80vh;
    min-height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

main .header {
    font-family: 'Silkscreen', cursive;
    color: #BB9F06;
    font-size: 2.5rem;
    font-weight: bold;
}

h1 {
    -webkit-text-stroke: 2px #1F2421;
    text-shadow: 3px 3px 5px #ffe602 ;
}

main .main-content {
    font-size: 1.55rem;
    font-family: 'Silkscreen', cursive;
    color: #EEF4ED;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 45vh;
    width: 45vh;
}

main .main-content .player-details-input {
    display: flex;
    justify-content: center;
    height: 50%;
    /* overflow: hidden; */
    position: relative;
}

main .main-content .player-input-form {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 50%;
    background-color: rgba(255, 255, 255, 0.233);
    padding: 40px 30px;
    border-radius: 12px;
}

.player-input-form label {
    text-align: center;
    -webkit-text-stroke: 0.8px #1F2421;
}

.player-details-input input, select {
    text-align: center;
    background-color:rgba(255, 255, 255, 0.233);
    color: #EEF4ED;
    font-size: 1.3rem;
    border-radius: 8px;
}

/* .player-details-input  */
option {
    color: #1F2421;
}

.start-game {
    display: flex;
    justify-content: center;
}

.start-game button {
    font-size: 2.4rem;
    padding: 15px 50px;
    border-radius: 30px;
    background-color: #BB9F06;
    border: none;
    color: #EEF4ED;
    font-family: 'Silkscreen', cursive;
    font-weight: bold;
    -webkit-text-stroke: 1.8px #1F2421;
    box-shadow: 3px 3px 3px #1F2421;
    margin-top: 4rem;
}

/* selected-animal screen: */

.selected-animal-screen {
    display: flex;
    min-height: 100vh;
    min-width: 80vh;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 3rem;
}

.selected-animal-screen h2 {
    font-family: 'Silkscreen', cursive;
    font-size: 2rem;
    font-weight: bold;
    -webkit-text-stroke: 2px #1F2421;
    text-align: center;
}

.selected-animal-0 {
    background-color: rgba(247, 87, 1, 0.541);
    border-radius: 15px;
    margin: 1.3rem;
    height: 40vh;
    max-width: 30vw;
    box-shadow: 3px 3px 3px #1F2421;
}

.selected-animal-1 {
    background-color: rgba(153,186,221, 0.541);
    border-radius: 15px;
    margin: 1.3rem;
    height: 40vh;
    max-width: 30vw;
    box-shadow: 3px 3px 3px #1F2421;
}

.selected-animal-2 {
    background-color: rgba(185,163,122, 0.541);
    border-radius: 15px;
    margin: 1.3rem;
    height: 40vh;
    max-width: 30vw;
    box-shadow: 3px 3px 3px #1F2421;
}

.selected-animal-screen .animal-name #tiger {
    color: #F96815;
}

.selected-animal-screen .animal-name #shark {
    color: #99BADD;
}

.selected-animal-screen .animal-name #eagle {
    color: #996515;
}

.animal-grid {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 90%;
    /* grid-template-columns: auto;
    height: 80%; */
}

.animal-box {
    /* width: 50%;
    height: 30vh; */
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: center;
    width: 100%;
    height: 100%;
}

.animal-details {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: center;
    width: 100%;
}

.animal-details #nickname {
    width: 90%;
}

.animal-options label, input {
    margin-bottom: 1.5rem;
    color: #EEF4ED;
    /* background-color: rgba(255, 255, 255, 0.233); */
}

.animal-options input {
    background-color: rgba(255, 255, 255, 0.233);
    border-radius: 5px;
}

.player-decision-wrapper {
    width: 100%;
    text-align: center;
    position:relative;
    bottom: 20vh;
}

.player-decision-box {
    display: flex;
    justify-content: space-evenly;
}

.player-decision-box button {
    font-size: 2rem;
    padding: 15px 50px;
    border-radius: 15px;
    background-color: #BB9F06;
    border: none;
    color: #EEF4ED;
    font-family: 'Silkscreen', cursive;
    font-weight: bold;
    -webkit-text-stroke: 1.8px #1F2421;
    box-shadow: 3px 3px 3px #1F2421;
    margin-top: 12px;
}



